:root {
  --light-grey: #EAEDED;
  --title-font-color: #2C3E50
}

body {
  margin: 0;
  padding: 0;
}

.layout {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}
