.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  float: right;
}

.nav-list-item {
  margin: 0 1rem;
}

.nav-brand {
  text-decoration: none;
  color: var(--title-font-color);
  font-family: var(--title-font-family);
}

.nav-brand h3 {
  font-weight: 400;
}

.nav-brand:visited {
  color: var(--title-font-color);
}

.nav-brand:hover,
.nav-brand:focus {
  text-decoration: underline;
}

.nav-list a:visited {
  color: black;
}